<div class="container om">
    <div class="row">
        <div class="col-sm-12 a">
                <div class="alert alert-primary" role="alert">
                    <h1>Bài thực hành 2</h1>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mid">
            <a class="mid btn btn-warning" routerLink="/bai1"> Bài 1</a>
        </div>
        <div class="col-sm-6 mid">
            <a class="mid btn btn-warning" routerLink="/bai2"> Bài 2 </a>
        </div>
    </div>
</div>
